<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Fantweezy</title>

<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/fantasy.css') }}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header page-scroll">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#page-top">Fantweezy</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li class="hidden">
<a href="#page-top"></a>
</li>
<li class="page-scroll">
<a href="/">Home</a>
</li>
<li class="page-scroll">
<a href="#login">Login</a>
</li>
</ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
<div class="container">
<div class="row">
<div class="col-lg-12">
<img class="img-responsive" src="{{ url_for('static', filename='img/profile.svg') }}" alt="">
<div class="intro-text">
<span class="name">Fantweezy</span>
<hr class="star-light">
<span class="skills">Create your Fantweezy team and compete to find the most retweeted celebrities.</span>
</div>
</div>
</div>
</div>
</header>

<!-- Login or Sign up Section -->
<section class="success" id="login">
<div class="middlePage">
</div>

<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">Please Sign up or Login</h3>
</div>
<div class="panel-body">

<div class="row">
<div class="col-md-6" style="border-left:1px solid #ccc;height:160px">
<h3 class="panel-title">Sign up</h3>
<form id="signup">
<div class="row control-group">
<div class="form-group col-xs-12 floating-label-form-group controls">
<label>username</label>
<input type="text" class="form-control" placeholder="Username" id="name" required data-validation-required-message="Please enter your Username.">
<p class="help-block text-danger"></p>
</div>
</div>
<div class="row control-group">
<div class="form-group col-xs-12 floating-label-form-group controls">
<label>password</label>
<input type="password" class="form-control" placeholder="Password" id="password" required data-validation-required-message="Please enter your Password.">
<p class="help-block text-danger"></p>
</div>
</div>
<br>
<button type="submit" class="btn btn-success btn-lg signup">Submit</button>
</form>
</div>
<div class="col-md-6" style="border-left:1px solid #ccc;height:160px">


<h3 class="panel-title">Login</h3>
<form id="login">
<div class="row control-group">
<div class="form-group col-xs-12 floating-label-form-group controls">
<label>username</label>
<input type="text" class="form-control" placeholder="Username" id="name" required>
<p class="help-block text-danger"></p>
</div>
</div>
<div class="row control-group">
<div class="form-group col-xs-12 floating-label-form-group controls">
<label>password</label>
<input type="password" class="form-control" placeholder="Password" id="password" required>
<p class="help-block text-danger"></p>
</div>
</div>
<br>
<button type="submit" class="btn btn-success btn-lg login">Submit</button>
</form>
</div>
</div>
</div>

</div>
</section>
<!-- Footer -->
<footer class="text-center">
<div class="footer-above">
<div class="container">
<div class="row">
<div class="footer-col col-md-4">
<h3>Location</h3>
<p>RPI Hackathon<br>RPI</p>
</div>
<div class="footer-col col-md-4">
<h3>Team: Jonathan, Dong Woo, Jonathon, Alex</h3>
<ul class="list-inline">
<li>
<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
</li>
<li>
<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
</li>
<li>
<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
</li>
<li>
<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
</li>
<li>
<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
</li>
</ul>
</div>
<div class="footer-col col-md-4">
<h3>About Fantweezy</h3>
<p>created by team CNSE </p>
</div>
</div>
</div>
</div>
<div class="footer-below">
<div class="container">
<div class="row">
<div class="col-lg-12">
Copyright &copy; Your Website 2015
</div>
</div>
</div>
</div>
</footer>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>

<script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/fantasy.js') }}"></script>

</body>

</html>
