<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dong Woo Yoo">

    <title>Fantweezy Database</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/fantasy.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Fantweezy Database</a>
            </div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="/chart"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li class="active">
                        <a href="/leaderboard"><i class="fa fa-fw fa-table"></i> Leaderboard</a>
                    </li>
                    <li>
                        <a href="/team"><i class="fa fa-fw fa-user"></i> Create your own Fantweezy Team!</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- /.row -->
                {% if handles %}
                    <div class="col-lg-10">
                    <div class="card">
                          <div class="card-block">
                        <h2 class="card-title">Choose your Players</h2>
                        <div class="table-responsive">
                          <div class="checkbox">
                            <table class="table table-bordered table-hover" data-card-view="true">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th>Cost</th>
                                        <th>Purchase</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for handle in handles %}
                                  <tr>
                                    <td>{{ handle.name }}</td>
                                    <td>{{ handle.cost }}</td>
                                    <td><label><input type="checkbox" value="{{handle.name}}">Add</label></td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-success btn-lg login">Submit</button></td>
                                  </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
  <!-- card
    <div class="card">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->
            <!-- /.container-fluid -->

            <!-- History Team -->
            {% else %}
              <div class="col-lg-10">
                  <div class="card">
                  <div class="card-block">
                  <h2 class="card-title">Your Team</h2>
                  <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Cost</th>
                      <th>Retweets</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for handle in team.handles %}
                      <tr>
                        <td>{{ handle.name }}</td>
                        <td>{{ handle.cost }}</td>
                        <td>{{ handle.get_latest() }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><button type="submit" class="btn btn-danger btn-lg" id="delete">Delete</button></td>
                      </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            <br>
          </div>

        </div>
        {% endif %}
        <!-- /#page-wrapper -->
    </div>
    </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>

    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/team.js') }}"></script>

</body>

</html>
